@import "../../../variables.scss";
.cardContainer {
    background: lightgray;
    border-radius: 10px;
    overflow:hidden;

    .topRow {
        display: grid;
        grid-template-columns: 1fr auto;
        height: 0px;

        .modalIcon {
            grid-column: 2;
            margin: 5px;
            margin-bottom: 0px;
            cursor: pointer;
            z-index: 10;
        }
        .modalIcon:hover {
            color: $primary;
        }
    }
    .imgContainer {
        img {
            width: 100%;
        }
    }
}
