@import "../../../variables.scss";
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: $primary;
    padding-right: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: darken($primary, 5)
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1; 
}

.modalContainer {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    max-height: 500px;

    .leftSide {
        display: grid;
        grid-template-rows: auto 1fr;
        .title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .feedContainer {
            max-width: 300px;
            img {
                width: 100%;
            }
        }
    }

    .rightSide {
        .eventListHeader {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .eventsList {
            max-height: 400px;
            height: 100%;
            overflow: scroll;
            padding-right: 20px;
            margin-bottom: 10px;
            .eventCard {
                background: lightgray;
                border-radius: 5px;
                margin: 2px;
                padding-left: 5px;
                padding-right: 5px;
                display: grid;
                grid-column-gap: 5px;
                grid-template-rows: repeat(2,auto);
                grid-template-areas: "top button"
                                     "bot button";

                .cardTopRow {
                    grid-area: top;
                    font-size: 14px;
                    font-weight: 500;
                }
                .cardBottomRow {
                    grid-area: bot;
                    display: grid;
                    grid-template-columns: repeat(2,auto);
                    grid-column-gap: 10px;
                    font-size: 10px;
                }
                .cardRight {
                    margin: 5px;
                    border-radius: 50%;
                    background:gray;
                    color: white;
                    grid-area: button;
                    align-self: center;
                    cursor: pointer;

                    mat-icon {
                        margin: 5px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .modalContainer {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        height: 500px;

        .leftSide {
            .title {
                justify-self: center;
            }
        }
        .rightSide {
            height: 250px;
            .eventsList {
                .eventCard {
                    .cardBottomRow {
                        grid-template-columns: auto;
                    }
                }
            }
        }
    }
}
