<div class="main-content">
  <div class="container-fluid">
    <h1>Settings</h1>

    <div class="settingsPanel">
      <div class="title">Philips Hue</div>
      <div>If the lights stop responding or receiving commands, try reconneting to the hub here</div>
      <div class="statusContainer">
        <div>Hue username: </div>
        <div>{{hue.username}}</div>

        <div>Hue status: </div>
        <div>
          <div *ngIf='hue.state' style="color: green">connected</div>
          <div *ngIf='!hue.state' style="color: orangered">unknown</div>
        </div>

        <div>Refresh rate(ms): </div>
        <div style='display: grid; grid-template-columns: repeat(2,auto); grid-column-gap: 10px;'>
          <input [formControl]="hueRefreshRate" type='number' class='form-control form-control-sm form-control-inline'/>
          <button (click)='setHueRefreshRate()' class='btn btn-sm btn-primary'>Apply</button>
        </div>
      </div>
      <button (click)='connectHue()' class="btn btn-primary btn-sm">Link Hue</button>
    </div>

    <div class="settingsPanel">
        <div class="title">Zoneminder</div>
        <div>Zoneminder should login on startup but if it doesn't, you can force a login attempt here</div>
        <div class="statusContainer">
          <div>Status: </div>
          <div>
            <div *ngIf='cameras.loggedIn' style="color: green">connected</div>
            <div *ngIf='!cameras.loggedIn' style="color: orangered">unknown</div>
          </div>
        </div>
        <button (click)='connectZoneminder()' class="btn btn-primary btn-sm">Attempt login</button>
      </div>
  
    <a routerLink=''>Return to site</a>
  </div>
</div>