.container-fluid {
    display: grid;
    grid-template-columns: auto;
    h1 {

    }
    .settingsPanel {
        justify-self: left;
        display: grid;
        border: 2px gray solid;
        border-radius: 5px;
        min-width: 300px;
        width: 100%;
        margin: 10px;
        padding: 10px;
        grid-row-gap: 10px;

        .title {
            font-size: 20px;
            font-weight: 700;
        }
        .statusContainer {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: auto 1fr;

            div {
                justify-self: left;
            }
        }
        button {
        }
    }
}