<div class="roomPicker">
  <svg viewBox="0 0 400 815" preserveAspectRatio="xMidYMid" *ngIf='ready'>
    <defs>
      <filter id="f2" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur result="blurOut" in="StrokePaint" stdDeviation="3"/>
      </filter>
    </defs>

    <g>
      <path class="stroked-element" [attr.d]="strokedArea.d" *ngFor="let strokedArea of roomSvg[selectedFloor].stokedAreas"/>
    </g>

    <g>
      <path class="floor-border" [attr.d]="roomSvg[selectedFloor].border.d" />
    </g>

    <g [attr.id]="room.id" [class.selected-room]="selectedRoom == room.id" [class.stairs]='room.id == "6" || room.id == "14"' *ngFor="let room of sortedRooms">
      <path class="room-bg" (click)="selectRoom(room.id)" [attr.d]="room.area.d"/>
      <path class="room-border" [attr.d]="room.border.d" />
      <path class="room-border room-border-glow" [attr.d]="room.border.d"/>
      <text class="room-text" (click)="selectRoom(room.id)" text-anchor="middle"
            [attr.x]="room.name.x" [attr.y]="room.name.y">{{room.name.text}}</text>
    </g>

  </svg>
</div>
