@import "../../../variables.scss";
.cardContainer {
    display: grid;
    margin: 10px;
    
    .lightsList {
        justify-self: center;
        // background: $secondary;
        padding: 10px;
        border: 1px gray solid;
        border-radius: 5px;
        overflow: hidden;
    }
}