@import '../../../variables.scss';
.navTabsContainer {
    background: $secondary;
    .navTabs {
        display: grid;
        grid-template-columns: repeat(5, auto);

        .tab {
            height: 50px;
            display: grid;
            background: $secondary;
            padding: 10px;
            border: 1px solid darken($secondary,5);
            
            .title {
                justify-self: center;
                align-self: center;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .activeRoute {
            background: $primary;
            color: white;
        }
    }
}
@media only screen and (max-width: 990px) {
    .navTabsContainer {
        padding-top: 80px;
        .navTabs {
            grid-template-columns: repeat(auto-fit, minmax(200px,auto));
        }
    }
}