.cardContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
    margin: 10px;

    .title {
        justify-self: left;
    }
    .switch {
        justify-self: right;
    }
}