.cardContainer {
    margin: 10px;

    .mainCard {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 20px;

        .dropIcon {
            cursor: pointer;
        }

        .title {
            white-space: nowrap;
        }
    }
    
    .dropdown {
        width: 100%;

        mat-slider {
            width: 100%;
        }
    }
}