@import "../../../variables.scss";
.sidebar-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    padding-bottom: 0;

    .nav {
        .nav-link {
            display: grid;
            grid-template-columns: repeat(2,auto);
            
            justify-self: center;

            .icon {
                // justify-self: right;
            }
            p {
                // text-align: left;
                // justify-self: left;
            }
        }
    }
    .userInfoPanel {
        display: grid;
        grid-template-areas: 'pic top'
                             'pic bot';
        grid-template-columns: auto 1fr;
        margin: 10px;
    
        .profilePic {
            grid-area: pic;
            margin-right: 10px;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid darkgray;
            justify-self: center;
            align-self: center;
    
            img {
                width: 100%;
            }
        }
        .topRow {
            align-self: center;
            grid-area: top;
    
            div {
                font-weight: 400;
                font-size: 16px;
            }
        }
        .bottomRow {
            align-self: center;
            grid-area: bot;

            display: grid;
            grid-template-columns: auto auto 1fr;

            button {
                padding: 2px;
            }

            .panelIcon {
                border: 1px darkgray solid;
                border-radius: 5px;
                margin: 2px;
                padding-bottom: 3px;
                cursor: pointer;
            }
            .panelIcon:hover {
                background: $primary;
                color: white;
            }
            .active {
                background: $primary;
                color: white;
            }
            #logout:hover {
                background: #cc0000;
                color: white;
            }
        }
    }
}