.roomPage {
    display: grid;
    // grid-template-columns: repeat(4,1fr);
    
    .map {
        justify-self: center;
        .floor {
        }
    }

    .lightsRow{
        .lightsList {
            padding: 10px;
            border: 1px gray solid;
            border-radius: 5px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .roomPage {
        grid-template-columns: 1fr;
        .lightsRow {
            grid-template-columns: 1fr;
        }
    }
}